<div fxLayout="column" fxLayoutAlign="space-around">
    <h6 fxFlex>Filters</h6>
    <label fxFlex fxFlexAlign="center">Launch Year</label>
    <div fxFlex fxLayout="row wrap" class="filterButtonsContainer">
        <div fxFlex="50" *ngFor="let year of years_list">
            <button
              type="button"
              class="filterButton"
              (click)="setNewYear(year)"
              [ngClass]="{'buttonHightlighted': filterData.launchYear === year}">{{ year }}</button>
        </div>
    </div>
    <label fxFlex fxFlexAlign="center">Successful Launch</label>
    <div fxFlex fxLayout="row" class="filterButtonsContainer">
        <div fxFlex="50">
            <button
              type="button"
              class="filterButton"
              (click)="successFullLauchToggle('true')"
              [ngStyle]="{'background-color':filterData.successfulLaunch === 'true' ? '#5e7c35fa' : '#9bcc56d1' }">True</button>
        </div>
        <div fxFlex="50">
            <button
              type="button"
              class="filterButton"
              (click)="successFullLauchToggle('false')"
              [ngStyle]="{'background-color':filterData.successfulLaunch === 'false' ? '#5e7c35fa' : '#9bcc56d1' }">False</button>
        </div>
    </div>
    <label fxFlex fxFlexAlign="center">Successful Landing</label>
    <div fxFlex fxLayout="row" class="filterButtonsContainer">
        <div fxFlex="50" >
            <button
              type="button"
              class="filterButton"
              (click)="successFullLandToggle('true')"
              [ngStyle]="{'background-color':filterData.successfulLanding === 'true' ? '#5e7c35fa' : '#9bcc56d1' }">True</button>
        </div>
        <div fxFlex="50" >
            <button
              type="button"
              class="filterButton"
              (click)="successFullLandToggle('false')"
              [ngStyle]="{'background-color':filterData.successfulLanding === 'false' ? '#5e7c35fa' : '#9bcc56d1' }">False</button>
        </div>
    </div>
</div>
